### Eclipse IDEA ###
/org.eclipse.core.resources.prefs
/.gitignore
/org.eclipse.jdt.core.prefs
/org.eclipse.m2e.core.prefs
/org.springframework.ide.eclipse.prefs

/.classpath

.gitignore
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
/.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

# frontend
/node_modules
